.customFlexWrapper {
  flex-grow: 1;
}

.customMainWrapper {
  margin: 1rem;
  margin-right: 0px;
  background-color: white;
  min-height: calc(100vh - 11.85rem);
  max-height: calc(100vh - 11.85rem);
  border-radius: 15px;
  width: calc(100% - 2rem);
}

.customBreadcrumbsWrapper {
  margin: 1rem;
}
