.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.docItemContainer {
  /* max-height: calc(100vh - 4em - 12.25rem); */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 2em;
}

@media screen and (max-width: 996px) {
  .docItemContainer {
    max-height: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2em;
  }
}
