/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  flex: auto;
  background-image: url("/img/3rd_photo.png");
  background-position: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0.5rem;
  }
}

[data-theme="dark"] .heroTitle {
  color: white;
}

[data-theme="dark"] .heroSubtitle {
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
