/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@use "/src/css/config";

$banner-img-height: 440px;
$animation-bannerup-duration: 0.7s;
$banner-retract-distance: -300px;

@keyframes bannerMovement {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-70px);
  }
}

.imgNavLayout {
  transition: $animation-bannerup-duration ease;
}

.heroBanner {
  text-align: center;
  position: relative;
  flex: auto;
}

.bannerUp {
  transform: translateY($banner-retract-distance);
}

.bannerImgLayout {
  position: relative;
  width: 100%;
  height: $banner-img-height;
}

.darkModeSwitch {
  position: absolute;
  height: 620px;
  width: 3px;
  background: config.$theme-color;
  right: 10%;
  top: -100px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    border: 3px solid config.$theme-color;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    left: -7px;
    bottom: -16.5px;
  }
}

@keyframes line {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

.pull {
  animation: line 0.5s ease;
}

.bannerThemeShadow {
  position: absolute;
  top: $banner-img-height - 95px;
  height: 100px;
  width: 100%;
  border-radius: 88px;
  background: linear-gradient(
    0.25turn,
    rgb(89 113 232 / 0.1),
    #5971e8,
    rgb(89 113 232 / 0.1)
  );
  box-shadow: 0px 4px 60px 4px rgba(0, 0, 0, 0.05);
  filter: blur(15px);
}

.bannerImgInnerShadow {
  position: absolute;
  background: transparent;
  width: 100%;
  height: $banner-img-height;
  border-radius: 0px 0px 71px 71px;
  box-shadow: 0px 4px 160px 30px rgba(0, 0, 0, 0.3) inset;
  // 混合模式有奇怪的马赛克，先注释掉。
  // mix-blend-mode: color-burn;
}

.bannerImg {
  position: absolute;
  height: $banner-img-height;
  width: 100%;
  background: url("/img/banner.webp"), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 71px 71px;
  filter: drop-shadow(0px 3px 24px rgba(99, 104, 113, 0.31));
}

.mainNavLayout {
  text-align: center;
  color: config.$nav-text-color;

  --ifm-link-color: #4f4f4f;
  --ifm-link-hover-decoration: none;
  --ifm-link-hover-color: #5b75ee;
}

.mainNavBox {
  display: inline-flex;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #d7d7d7;
  border-top: none;
  background-color: config.$navbar-background-color;
  background-blend-mode: screen;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2) inset;
  span {
    display: block;
    padding: 0.4rem 2.5rem;
  }
}

.searchBarLayout {
  margin: 4rem auto;
  transition: $animation-bannerup-duration ease;
}

@media screen and (max-width: 996px) {
}

[data-theme="dark"] {
  .bannerImg {
    filter: brightness(0.9) drop-shadow(0px 3px 24px rgba(99, 104, 113, 0.31));
  }

  .mainNavLayout {
    color: config.$nav-text-darkmode-color;
    --ifm-link-color: #e6e6e6 !important;
  }

  .mainNavBox {
    border: 1px solid #3b4043;
    background-color: config.$navbar-background-darkmode-color;
  }
}
