.customSidebarWrapper {
  display: flex;
  height: 100%;
  margin: 1rem;
  padding: 1rem;

  margin-right: 0;
  background-color: white;
  height: calc(100vh - 8.35rem);
  border-radius: 15px;
}

@media screen and (max-width: 996px) {
  .customSidebarWrapper {
    display: none;
    height: 100%;
    margin: 1rem;
    padding: 1rem;

    margin-right: 0;
    background-color: white;
    height: calc(100vh - 8.35rem);
    border-radius: 15px;
  }
}
