/*font*/
$base-font-family: "dinkiebitmap", "iconmoon", -apple-system, BlinkMacSystemFont,
  avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui,
  arial, PingFang SC, Hiragino Sans GB, Noto Serif SC, Microsoft Yahei,
  WenQuanYi Micro Hei, ST Heiti, sans-serif;

$code-font-family: monocraft, dinkiebitmap, San Francisco Mono, Monaco, consolas,
  lucida console, dejavu sans mono, bitstream vera sans mono, monospace, mono;

/*color*/
$theme-color: #5b75ee;
$global-background-color: #eef0f1;
$global-background-darkmode-color: #181a1b;

$navbar-background-color: #fff;
$navbar-background-darkmode-color: #181a1b;
$nav-text-color: #c9c9c9;
$nav-text-darkmode-color: #6b6b6b;

$searchbar-background-color: #f4f6f7;
$searchbar-background-darkmode-color: #1e2021;
$searchbar-highlight-background-color: #e4e4e4;
$searchbar-highlight-background-darkmode-color: #272b2c;
$searchbar-border-color: #dfe1e5;
$searchbar-border-darkmode-color: #383d3f;

$markdown-background-color: white;
$markdown-background-darkmode-color: #181a1b;

$footer-background-color: #e8e8e8;
$footer-font-color: #898989;
$footer-background-darkmode-color: #25282a;
$footer-font-darkmode-color: #898989;

/*weight
$base-font-weight:一般文字的粗细;
$blod-font-weight:粗体文字粗细;

/*font-size
$base-font-size:一般字体大小;
$small_font-size:页脚大小;

/*line-height
$base-line-height:正文行距;
$article-line-height:标题行距;
*/
