@use "config";

.theme-doc-markdown {
  --ifm-link-color: black;
  --ifm-link-decoration: underline;
  --ifm-link-hover-color: config.$theme-color;
  --ifm-link-hover-decoration: unset;
  font-size: 18px;
  line-height: 1.4em;

  a {
    transition: 700ms ease;
  }

  a:visited {
    color: config.$theme-color;
  }
}

.theme-doc-markdown img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.9);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.theme-doc-markdown
  img[style="image-rendering: pixelated; border-radius: 5px;"] {
  display: inline;
}

.padding-top--md {
  padding-top: 2em !important;
}

.padding-bottom--md {
  padding-top: 2em !important;
}
