@use "config";

.footer {
  background-color: #e8e8e8;
  color: #898989;

  a {
    color: #898989;
    transition: 700ms ease;
  }

  a:hover {
    color: config.$theme-color;
  }

  .footer__links {
    margin-bottom: 0;
    align-self: flex-end;
  }

  .footer__link-item {
    text-decoration: none;
    margin-right: 1rem;
  }

  .footer__link-item:hover {
    text-decoration: none;
  }

  .footer__copyright {
    text-align: left;
    font-size: 0.8rem;

    a {
      text-decoration: underline;
    }

    a:hover {
      text-decoration: unset;
      color: unset;
    }
  }

  .footer-icons {
    vertical-align: bottom;
  }

  .custom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 996px) {
  .footer {
    .footer__links {
      margin-bottom: 1rem;
    }
    .footer__link-item {
      display: unset;
    }
    .custom-footer {
      display: unset;
    }
    .footer__copyright {
      text-align: center;
    }
  }
}
