@use "/src/css/config";

.breadcrumbsContainer {
  --ifm-breadcrumb-size-multiplier: 0.8;
  background-color: config.$markdown-background-color;
  border-radius: 15px;
  height: 2.5rem;
  align-items: center;
}

[data-theme="dark"] {
  .breadcrumbsContainer {
    background-color: config.$markdown-background-darkmode-color;
  }
}

.flexMember {
  flex-grow: 1;
  align-self: center;
}

.flexWrapper {
  display: flex;
  justify-content: space-between;
}

.switch {
  align-self: center;
  line-height: 0%;
  margin-right: 1rem;
  & img:hover {
    cursor: pointer;
  }
}
